@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

:root {
--black: #181B2B;
--white: #ffffff;
--violet: #5275FF;
--violet-disabled: #E5EAFF;
--border: #E7EAF3;
--light-background: #F9FAFC;
--grey: #7A859E;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--black);
	background-color: var(--violet-disabled);
	display: flex;
	justify-content: center;
	padding: 10vh;
	margin: 0;
	box-sizing: border-box;
	font-family: Rubik, sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
	width: 100%;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--violet);
	border-radius: 2px;
}

h1, h2, h3, h4 {
	font-weight: 600;
	font-size: 16px;
	margin: 0 0 12px;
}

input:disabled {
	color: var(--grey);
}

input[type="range"] {
	height: 0;
}

button {
	color: var(--black);
	background: none;
	border: 1px solid var(--border);
	box-shadow: none;
	outline: none;
	cursor: pointer;
}

button:disabled {
	cursor: no-drop;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.row {
	display: flex;
	align-items: center;
}
